firmware/Debug
firmware/Release
firmware/Drivers/CMSIS
firmware/Drivers/STM32F1xx_HAL_Driver
firmware/Middlewares
firmware/Core/Startup
*.ld
*.launch

__pycache__
build
install
log
compile_commands.json